/*
The default style sheet for the entire site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */
/*Note that this approach is no longer recommended. Use a reset.css file instead.*/


body {
    font-family: 'Notable', sans-serif;
    background-color: whitesmoke;
    
    background-attachment: fixed;
    background-image: url("../img/gallery_image1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width:1200px;
}

header {
    font-family: 'Notable', sans-serif;
    font-size: 250%;
    background-color: ghostwhite;
    background-image: url(../img/1.jpg);
    min-height: 800px;
    padding-left: 50px;
    padding-right: 30px;
}

h1 {
    font-family: 'Notable', sans-serif;
    font-size: 2.1875em;
    padding: 75px 25px 25px 15px;
}

nav {
    margin-left: 350px;
    text-align: center;
}
li { float:left; 
     margin:25px;
     padding:0;
}


 
.main-nav,
.sub-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    
}


main-nav li {
    font-family: 'Notable', sans-serif;
    color: black;
    font-size: 1.5em;
    line-height: 40px;
    margin-right: 15px;
    text-align: center;
    float: left;
    width: 200px;
}

.main-nav li a {
    color: black;
    display: block;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: black;
    transition: background-color .5s;

}


.main-nav li .sub-nav li {
    display: none;

}

 .main-nav li:hover .sub-nav li {
    display: inline-block; 
    
}

main {
    min-height: 300px;
}
footer {
    clear: both;
    text-align: center;
}




